fastapi
uvicorn
pydantic
email_validator
scikit-learn==1.6.1
pandas
requests
streamlit
watchdog
python-dotenv

# python3 -m venv .venv
# source .venv/bin/activate
# uvicorn main:app --reload
# streamlit run ui.py